<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<!--Main Content-->
<main>
  <!-- bootstrap jumbotron (large banner) -->
  <div class="container d-flex justify-content-center my-5">
    <div class="card border-success bg-transparent text-success w-75">
      <div class="card-body">
        <div class="jumbotron jumbotron-fluid text-center mb-0">
          <div class="container">
            <h1 class="display-4">Welcome to my <%= title %> page</h1>
            <!-- lead paragraph for text info -->
            <p class="lead">I am a networking and IT security student at Ontario Tech University. Use the navigation links to learn more!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ./partials/bottom_nav.ejs %>
<%- include ./partials/footer.ejs %> 

